<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>management_platform</title>
    <link rel="icon" href="/public/img/favicon.ico" type="image/png">
  </head>
  <body>
    <div id="app"></div>
  </body>
  <script src="/public/js/vue.js"></script>
  <script src="/public/dist/main.js"></script>
</html>